/*Home Main */

main {
  grid-area: main;
}
.home-main-container {
  text-align: center;
  height: 35rem;
}

.home-main-content {
  color: yellow;
  margin: 1rem 0rem 0rem 3rem;
  font-size: 2.6rem;
  font-weight: bolder;
}

.home-sub-content {
  color: white;
  font-size: 1.5rem;
  margin: 1rem 3rem 1rem 3rem;
}

.get-started-btn {
  width: 15%;
  margin: 0.5rem 0rem 1rem 3rem;
  box-shadow: 0px 4px 7px #333333;
}

.button-design {
  box-sizing: border-box;
  padding: 0.5rem 0.5rem;
  border-radius: 0.9rem;
}

.primary-btn {
  background-image: linear-gradient(to right, #2adeeb, #a517ba);
  color: white;
  text-align: center;
  font-weight: bolder;
  border: none;
}

.get-started-btn:hover {
  transform: scale(1.1);
}
.home-img {
  margin-top: 2rem;
}
.home-img img {
  width: 400px;
}
