/* Inputs Main */
.input-container {
  margin: 3rem;
}

.input-main-heading {
  color: var(--forth-color);
}

.input-snippet iframe {
  margin: 1rem 0;
  width: 564px;
  height: 200px;
  border: 0;
  transform: scale(1);
  overflow: hidden;
}

.input-sub {
  margin: 1rem 0rem;
  color: var(--ternary-color);
  font-size: 1.2rem;
}

.input-snippet {
  margin: 1rem 0rem;
}

.standard-input {
  color: var(--forth-color);
  margin: 1rem 0;
}

.list-main-area {
  background-color: var(--ternary-color);
  padding: 1rem;
}

.primary-inputs {
  border: 1px var(--sixth-color) solid;
  display: inline-block;
}

.primary-inputs div {
  margin: 1rem;
}

.email-input {
  border: none;
  border-bottom: 2px solid;
}

.email-input::placeholder {
  font-weight: bold;
  color: var(--sixth-color);
}

.password-input {
  border: none;
  border-bottom: 2px solid;
}

.password-input::placeholder {
  font-weight: bold;
  color: var(--sixth-color);
}


.error-inputs {
  border: 1px var(--sixth-color) solid;
  display: inline-block;
}

.error-inputs div {
  margin: 1rem 1rem 0rem 1rem;
}

.error-email-input {
  border: none;
  border-bottom: 2px solid;
}

.error-email-input::placeholder {
  font-weight: bold;
  color: var(--sixth-color);
}

.error-password-input {
  border: none;
  border-bottom: 2px solid;
}

.error-password-input::placeholder {
  font-weight: bold;
  color: var(--sixth-color);
}

.input-message {
  margin-top: 0rem;
  color: rgb(224, 2, 2);
  font-weight: bolder;
}