/* responsive images */
.images-container {
  margin: 3rem;
}

.images-main-heading {
  color: yellow;
}
.images-snippet iframe {
  width: 564px;
  height: 256px;
  border: 0;
  transform: scale(1);
  overflow: hidden;
}
.images-sub {
  margin: 1rem 0rem;
  color: white;
  font-size: 1.2rem;
}
.images-snippet {
  margin: 1rem 0rem;
}
.standard-images {
  color: yellow;
  margin: 1rem 0rem;
}

.responsive-image {
  width: 50%;
  height: auto;
}

.circle-image {
  width: 50%;
  border-radius: 50%;
}
