/* Alert Main */
.alert-container {
  margin: 3rem;
}

.alert-main-heading {
  color: yellow;
}
.alert-snippet iframe {
  margin: 1rem 0rem;
  width: 564px;
  height: 200px;
  border: 0;
  transform: scale(1);
  overflow: hidden;
}
.alert-sub {
  margin: 1rem 0rem;
  color: white;
  font-size: 1.2rem;
}
.alert-snippet {
  margin: 1rem 0rem;
}
.standard-alerts {
  color: yellow;
  margin: 1rem 0rem;
}
.error-icon {
  color: rgb(219, 2, 2);
}

.warning-icon {
  color: rgb(252, 185, 0);
}

.success-icon {
  color: rgb(1, 179, 1);
}

.info-icon {
  color: rgb(1, 43, 179);
}
.primary-alert {
  border: 2px rgb(1, 110, 114) solid;
  background-color: rgb(116, 250, 255);
  border-radius: 0.8rem;
  width: 8.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

.secondary-alert {
  border: 2px rgb(133, 0, 167) solid;
  background-color: rgb(226, 111, 255);
  border-radius: 0.8rem;
  width: 9.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
}
.error-alert {
  border: 2px rgb(219, 2, 2) solid;
  background-color: rgb(255, 152, 152);
  border-radius: 0.8rem;
  width: 7.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

.warning-alert {
  border: 2px rgb(252, 185, 0) solid;
  background-color: rgb(253, 244, 156);
  border-radius: 0.8rem;
  width: 8.3rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

.success-alert {
  border: 2px rgb(1, 179, 1) solid;
  background-color: rgb(119, 253, 119);
  border-radius: 0.8rem;
  width: 7.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

.info-alert {
  border: 2px rgb(1, 43, 179) solid;
  background-color: rgb(111, 145, 255);
  border-radius: 0.8rem;
  width: 7.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
}
