<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://girlifycoder-component-library.netlify.app/component/components.css" />
</head>
<body>
    <ul>
    <li>/*  Links  */</li>
<li>@import url("./home/styles.css");</li>
<li>@import url("./alert/styles2-alert.css");</li>
<li>@import url("./avatars/styles2-avatars.css");</li>
<li>@import url("./badges/styles2-badges.css");</li>
<li>@import url("./buttons/styles2-buttons.css");</li>
<li>@import url("./cards/styles2-cards.css");</li>
<li>@import url("./grids/styles2-grids.css");</li>
<li>@import url("./home/styles2-index.css");</li>
<li>@import url("./inputs/styles2-input.css");</li>
<li>@import url("./list/styles2-lists.css");</li>
<li>@import url("./modals/styles2-modals.css");</li>
<li>@import url("./navigation/navigation.js");</li>
<li>@import url("./rating/styles2-rating.css");</li>
<li>@import url("./responsive-images/styles2-images.css");</li>
<li>@import url("./snackbar/styles2-snackbar.css");</li>
<li>@import url("./text/styles2-text.css");></li>
</ul>
</body>
</html>